<h1>New category</h1>





<div class="field">

  <%= form_with(model: @category, url: [@rname, @category], local: true) do |f| %>
    <%= f.label "What instance" %>
    <%= f.text_field :instance, placeholder: "type here"%>
    <p style = "visibility:hidden;">jhjh</p>

    <%= f.label "What case" %>
    <%= f.text_field :case, placeholder: "type here"%>
    <p style = "visibility:hidden;">jhjh</p>

    <%= f.label "What character" %>
    <%= f.text_field :character, placeholder: "type here"%>
    <p style = "visibility:hidden;">jhjh</p>

    <%= f.label "What plurality" %>
    <%= f.text_field :plurality, placeholder: "type here"%>
    <p style = "visibility:hidden;">jhjh</p>
    <p style = "visibility:hidden;">jhjh</p>
</div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', rnaming_path(params[:rnaming_id]) %>
