<%= form_with(model: rnaming, local: true) do |form| %>
  <% if rnaming.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rnaming.errors.count, "error") %> prohibited this rnaming from being saved:</h2>

      <ul>
      <% rnaming.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= form.label "what area?" %>
  <%= form.text_field :area, placeholder: "type here"%>
</div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
