<script type="text/javascript">
  (function(p,u,s,h){
      p._pcq=p._pcq||[];
      p._pcq.push(['_currentTime',Date.now()]);
      s=u.createElement('script');
      s.type='text/javascript';
      s.async=true;
      s.src='https://cdn.pushcrew.com/js/440ea5876356ba13a147ef807f4446ed.js';
      h=u.getElementsByTagName('script')[0];
      h.parentNode.insertBefore(s,h);
  })(window,document);
</script>


<p id="notice"><%= notice %></p>

<h1>Rnamings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rnamings.each do |rnaming| %>
      <tr>
        <td><%= rnaming.area%></td>
        <td><%= link_to 'Show', rnaming_path(rnaming) %></td>
        <td><%= link_to 'Edit', edit_rnaming_path(rnaming) %></td>
        <td><%= link_to 'Destroy', rnaming, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rnaming', new_rnaming_path %>
